body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 1200px; /* Adjust the width as needed */
  height: 800px; /* Adjust the height as needed */
  display: none;
}

#delayValue {
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
}

#delaySlider {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

#pauseResumeBtn {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  margin: 10px 0;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#pauseResumeBtn.pause {
  background-color: red;
}

#pauseResumeBtn.resume {
  background-color: green;
}
